# Supabase
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_SUPABASE_PROJECT_ID=

# Midtrans (https://dashboard.sandbox.midtrans.com)
VITE_MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=

# Komerce / RajaOngkir Shipping (https://app.komerce.id)
KOMERCE_API_KEY=
